# === Saídas de compilação do .NET ===
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.pdb

# === Testes ===
TestResults/
testes/
*.trx
coverage*.xml

# === IDEs ===
.vs/
.vscode/
.idea/
*.user
*.suo
*.userprefs
*.swp

# === Logs e temporários ===
*.log
*.tmp

# === Sistema operacional ===
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/
